<!--begin_top_nav_links-->
<div class="Top_title" style="margin-top:0;">
<a href="http://www.51hejia.com/" target="_blank"><img src="http://js.51hejia.com/img/h_logo.gif" border="0" /></a>
  <ul class="Top_Navtion">
		<li><a href="http://tuku.51hejia.com/" id="tukuid">看图片</a></li>
		<li><a href="http://z.51hejia.com/" id="zhuangxiuid">装修点评</a></li>
		<li><a href="http://b.51hejia.com/" id="pinpaiid">挑品牌</a></li>
		<li><a href="http://p.51hejia.com/" id="chanpinid">找低价</a></li>
		<li><a href="http://wb.51hejia.com/" id="wenbaid">问专家</a></li>
	</ul>
    <div class="Top_Anniu">
		<div id="show_login">
			<SCRIPT LANGUAGE="JavaScript" Src="http://js.51hejia.com/js/show_login2.js?99301137"></SCRIPT>
			<iframe name="hideiframe_loginout" width="0" height="0" style="display: none;"></iframe>
		</div>
  </div>
  <div class="top_zx"><a href="http://z.51hejia.com/zhuangxiugongsi" target="_blank" style="color:#f60; text-decoration:underline;">网友评论千家装修公司点击查看</a></div>
</div>
<div class="Div_center">
	<ul class="Pindao">
		<li><a id="shouye" href="http://www.51hejia.com/" target="_blank">首页</a>
		<br />
		<a id="zhoukan" href="http://www.51hejia.com/xinwen/" target="_blank">新闻</a>
		</li>
		<li class="topic"><a href="http://d.51hejia.com/" target="_blank"><img src="http://js.51hejia.com/img/h_deco.gif" alt="装修频道" width="77" height="50" /></a></li>
		<li><a id="tuliao" href="http://www.51hejia.com/youqituliao/" target="_blank">涂料</a><a id="cizhuan" href="http://www.51hejia.com/cizhuan/" target="_blank">瓷砖</a><a id="gediao" href="http://www.51hejia.com/jiajuchanpin/" target="_blank">家具</a><a id="zhaoming" href="http://www.51hejia.com/zhaomingpindao/" target="_blank">灯具</a><a id="chugui" href="http://www.51hejia.com/chuguipindao/" target="_blank">厨房橱柜</a><a id="kongtiao" href="http://www.51hejia.com/kongtiao/" target="_blank">中央空调</a><br />
		<a id="diban" href="http://www.51hejia.com/diban/" target="_blank">地板</a><a id="buyili" href="http://www.51hejia.com/buyi/" target="_blank">布艺</a><a id="jiadian" href="http://www.51hejia.com/jiadian/" target="_blank">家电</a><a id="cainuan" href="http://www.51hejia.com/cainuan/" target="_blank">采暖</a><a id="weiyu" href="http://www.51hejia.com/weiyupindao/" target="_blank">卫浴产品</a><a id="shuichulili" href="http://www.51hejia.com/shuichuli/" target="_blank">水&nbsp;处&nbsp;理</a></li>
		<li class="topic"><a href="http://www.51hejia.com/jushang/" target="_blank"><img src="http://js.51hejia.com/img/h_jushang.gif" alt="居尚频道" width="77" height="50" /></a></li>
		<li><a id="chufang" href="http://www.51hejia.com/chufang/" target="_blank">厨房</a><a id="keting" href="http://www.51hejia.com/keting/" target="_blank">客厅</a><a id="shufang" href="http://www.51hejia.com/shufang/" target="_blank">书房</a><a id="beijingqiang" href="http://www.51hejia.com/beijingqiang/" target="_blank">背景墙</a><a id="xiaohuxing" href="http://www.51hejia.com/xiaohuxing/" target="_blank">小户型</a><a id="zhufu" href="http://www.51hejia.com/chaojizhufu/" target="_blank">主妇</a>
		<br />
		<a id="yushi" href="http://www.51hejia.com/weiyu/" target="_blank">卫浴</a><a id="woshi" href="http://www.51hejia.com/woshi/" target="_blank">卧室</a><a id="huayuan" href="http://www.51hejia.com/huayuanshenghuo/" target="_blank">花园</a><a id="ertongfang" href="http://www.51hejia.com/ertongfang/" target="_blank">儿童房</a><a id="ershoufang" href="http://www.51hejia.com/ershoufang/" target="_blank">二手房</a><a id="bieshu" href="http://www.51hejia.com/bieshu/" target="_blank">别墅</a></li>
		<li class="topic_r"><a href="http://bbs.51hejia.com/list/484" target="_blank">装修论坛</a>|<a id="boke" href="http://blog.51hejia.com/" target="_blank">博客</a><br />
		<a href="http://bbs.51hejia.com/list/472" target="_blank">家居论坛</a>|<a href="http://www.51hejia.com/maichang/" target="_blank">卖场</a></li>
	</ul>
</div>
<SCRIPT LANGUAGE="JavaScript">
var login_forward = location.href;
</SCRIPT>
<!--end_top_nav_links-->
																																																						<div id="Login" style="display:none;border:0">
																																																							<a href="#guanbi" title="关闭" class="Divopop-nonenei"><img src="http://www.51hejia.com/css/newback/images/x.png" alt="关闭" /></a>
																																																								<iframe id="dengluiframe" style="width:222px;height:224px;border:0;overflow:hidden" frameborder="0" scrolling="no"></iframe>
																																																									<script>
																																																										function denglula()
																																																											{
																																																													var time = Math.random();
																																																															document.getElementById('dengluiframe').src='http://member.51hejia.com/member/userlogin?forward=' + login_forward;
																																																																}
																																																																	</script>
																																																																	</div>
																																																																	 <script language="javascript">
																																																																	 var BgDiv=document.createElement("div");
																																																																	 function Divopop(ID){
																																																																		denglula();
																																																																			var Moled=document.getElementById(ID);
																																																																				Moled.style.display="block";
																																																																					var bodyw=document.body.scrollWidth;
																																																																						var bodyh=document.body.scrollHeight;
																																																																							var firefox = document.getElementById && !document.all;
																																																																								BgDiv.style.position="absolute";
																																																																									BgDiv.style.left="0";
																																																																										BgDiv.style.top="0";
																																																																											BgDiv.style.width=bodyw+"px";
																																																																												BgDiv.style.height=bodyh+"px";
																																																																													BgDiv.style.zindex="50";
																																																																														if(firefox==false){
																																																																																BgDiv.style.background="url(http://www.51hejia.com/css/newback/images/divbg.png)";
																																																																																		BgDiv.style.filter="Alpha(Opacity=50)";
																																																																																			}else{
																																																																																					BgDiv.style.background="url(http://www.51hejia.com/css/newback/images/divbg.png)";
																																																																																						}
																																																																																							document.body.appendChild(BgDiv);
																																																																																								BgDiv.style.display="";
																																																																																									var As=document.getElementsByTagName("a");
																																																																																										for (var i=0;i<As.length;i++){
																																																																																											if(As[i].className=="Divopop-none"){
																																																																																												As[i].onclick=function(){Moled.style.display="none";BgDiv.style.display="none";return false;};
																																																																																													}
																																																																																														else if(As[i].className=="othen"){
																																																																																															As[i].onclick=function(){
																																																																																																var othenId=this.getAttribute("toid");
																																																																																																	var othenDiv=document.getElementById(othenId);
																																																																																																		Moled.style.display="none";
																																																																																																			othenDiv.style.display="block";
																																																																																																				return false;
																																																																																																					};
																																																																																																						}
																																																																																																							else if(As[i].className=="Divopop-nonenei"){
																																																																																																								As[i].onclick=function(){this.parentNode.style.display="none";BgDiv.style.display="none";return false;};
																																																																																																									}
																																																																																																										}
																																																																																																											}
																																																																																																											 </script>
