<script src="http://js.51hejia.com/javascripts/prototype.js?1271040999" type="text/javascript"></script>
<script src="http://js.51hejia.com/javascripts/effects.js?1271040999" type="text/javascript"></script>
<script src="http://js.51hejia.com/javascripts/dragdrop.js?1271040999" type="text/javascript"></script>
<script src="http://js.51hejia.com/javascripts/controls.js?1271040999" type="text/javascript"></script>
<script src="http://js.51hejia.com/javascripts/application.js?1271040999" type="text/javascript"></script>