<iframe id='a9830b3c' name='a9830b3c' src='http://a.51hejia.com/www/delivery/afr.php?n=a9830b3c&amp;zoneid=51&amp;cb=INSERT_RANDOM_NUMBER_HERE' framespacing='0' frameborder='no' scrolling='no' width='210' height='58'><a href='http://a.51hejia.com/www/delivery/ck.php?n=a8b554d1&amp;cb=INSERT_RANDOM_NUMBER_HERE' target='_blank'><img src='http://a.51hejia.com/www/delivery/avw.php?zoneid=51&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a8b554d1' border='0' alt='' /></a></iframe>
<script type='text/javascript' src='http://a.51hejia.com/www/delivery/ag.php'></script> 