<div id="main">
  <%= render :partial => 'head_start' %>
  <%= render :partial => 'head_end' %>
  <%= render :partial => 'visitor/ads_tonglang' %>
  <%= render :partial => 'search' %>
  <%= render :partial => 'tags' %>
  <%= render :partial => 'b2tags' %>
  <br>
  <%= render :partial => 'b2list' %>
  <%= render :partial => 'foot' %>
</div>