<div class="gonggao">
  <h3>公告区</h3>
  <div class="box">
    <ul>
      <li>·<a href="http://zt.51hejia.com/shanghai/200941/index.html" target="_blank" title="第十七届建筑装饰展">第十七届建筑装饰展</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/baianju/index.htm" target="_blank" title="百安居五步T计划转型">百安居五步T计划转型</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/maichang/maichanganfang" target="_blank" title="2009家居卖场导购指南">2009家居卖场导购指南</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/puzhuang/index.html" target="_blank" title="第十一届地面铺装展">第十一届地面铺装展</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/08wypd/index.html" target="_blank" title="08卫浴洁具大盘点">08卫浴洁具大盘点</a></li>
      <li>·<a href="http://www.51hejia.com/youqituliao/20090401/393223.jhtml" target="_blank" title="立邦开展“为爱上色”活动">立邦开展“为爱上色”活动</a></li>
      <li>·<a href="http://zt.51hejia.com/youqituliao/005/nippon" target="_blank" title="我的灵感 我的立邦 "><font color="red">我的灵感 我的立邦</font></a></li>
      <li>·<a href="http://shanghai.51hejia.com/shanghai/boloni/index.html" target="_blank" title="博洛尼体验专场，设计咨询交流">博洛尼体验专场，设计咨询交流</a></li>
      <li>·<a href="http://shanghai.51hejia.com/shanghai/bail1130/index.html" target="_blank" title="本月30日白领团装，来报名吧！">本月30日白领团装，来报名吧！</a></li>
      <li>·<a href="http://shanghai.51hejia.com/shanghai/bailjianc/index.html" target="_blank" title="一户就能团购！独家优惠厂价直供">一户就能团购！独家优惠厂价直供</a></li>
      <li>·<a href="http://wenba.ddmap.com/" target="_blank" title="丁丁生活问吧">丁丁生活问吧</a></li>
      <li>·<a href="http://www.51hejia.com/shanghai/mianf/index.html" target="_blank" title="免费户型设计-限时限量火热招募中">免费户型设计-限时限量火热招募中</a></li>
      <li>·<a href="http://www.51hejia.com/shanghai/yangbf1008/index.html" target="_blank" title="和家“样板房直通车”活动招募中">和家“样板房直通车”活动招募中</a></li>
    </ul>
  </div>
</div>