<div class="gonggao">
  <h3>公告区</h3>
  <div class="box">
    <ul>
      <li>·<a href="http://www.nipponpaint.com.cn/space/120/home.html" target="_blank" title="快速净味120分满意">快速净味120分满意</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/baianju/index.htm" target="_blank" title="百安居五步T计划转型">百安居五步T计划转型</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/maichang/maichanganfang" target="_blank" title="2009家居卖场导购指南">2009家居卖场导购指南</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/baianj/index.html" target="_blank" title="百安居品牌专区"><font color="red">百安居品牌专区</font></a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/kendiya/index.htm" target="_blank" title="用心感受肯帝亚"><font color="red">用心感受肯帝亚</font></a></li>
      <li>·<a href="http://bbs.51hejia.com/btopic/224658" target="_blank" title="夏被超低价，限时抢购中！"><font color="red">夏被超低价，限时抢购中！</font></a></li>
      <li>·<a href="http://zt.51hejia.com/youqituliao/005/nippon" target="_blank" title="我的灵感 我的立邦 ">我的灵感 我的立邦</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/09weiyu/index.html" target="_blank" title="[促销]罗莱家纺3折线上抢购">[促销]罗莱家纺3折线上抢购</a></li>
      <li>·<a href="http://www.51hejia.com/gas/" target="_blank" title="一站式搞定!燃气具专栏火热上线">一站式搞定!燃气具专栏火热上线</a></li>
      <li>·<a href="http://zt.51hejia.com/shanghai/tao/index.shtml" target="_blank" title="只选对的!经济型地板选购全攻略">只选对的!经济型地板选购全攻略</a></li>
      <li>·<a href="http://wenba.ddmap.com/" target="_blank" title="丁丁生活问吧">丁丁生活问吧</a></li>
      <li>·<a href="http://www.51hejia.com/shanghai/mianf/index.html" target="_blank" title="免费户型设计-限时限量火热招募中">免费户型设计-限时限量火热招募中</a></li>
      <li>·<a href="http://d.51hejia.com/zhuangxiu/20090507/397644.r" target="_blank" title="[新片上映]27套清新绿色时尚家居">[新片上映]27套清新绿色时尚家居</a></li>
    </ul>
  </div>
</div>