<div id="info">
  <div class="photo"><img src="<%= get_user_icon_link_by_user_id(params[:uid]) %>" width="103" height="118" /></div>
  <ul>
    <li>姓&nbsp;&nbsp;&nbsp;&nbsp;名：<%=get_user_name_by_user_id(params[:uid]) %></li>
    <%#*<li>职&nbsp;&nbsp;&nbsp;&nbsp;务：总监</li>%>
    <%#*<li>性&nbsp;&nbsp;&nbsp;&nbsp;别：男</li>%>
    <%#*<li>所属公司：动象国际室内设计有限公司</li>%>
    <%#*<li>最高学历：硕士</li>%>
  </ul>
  <%#*<p>博客地址：<a href="#" target="_blank">http://blog.51hejia.com/</a></p>%>
</div>