<div id="path">
  <h3>张津华</h3>
  <ul>
    <li><span>设计师沙龙</span>－张津华首页</li>
	<li><span>擅长领域</span>－产品&nbsp;&nbsp;装修知识&nbsp;&nbsp;设计师</li>
  </ul>
</div>
<div id="left">
<%= render :partial => 'uinfo' %><br>
<div id="leftlist">
<%= render :partial => 'ulatest_topics' %>
<%= render :partial => 'ulatest_posts' %>
</div>
<%= render :partial => 'ustatistics' %>
</div>
<div id="right">
<%= render :partial => 'utopics_list' %><br>
</div>