<h1>添加讨论版</h1>
<form name="date" method="post" action="/admin/add_zome">
 添加讨论版:<input name="wd" type="text" id="wd" size="10" maxlength="20">
  <input type="hidden" name="tp" value="wd">
  <input type="submit" value ="添加" class ="button02"  />
</form> 