<form action="save_published_choice" method="post">
  <% for ask in @publised_asks %>
    问答标题: <%= ask.title %>  问答url: <%= ask.url %> 权重: <select name="c_order_number[]">
      <% [0,1,2,3,4,5,6,7,8,9,10].each do |x| %>
        <option value='<%= x %>' <%= 'selected' if ask.order_number == x %>><%= x%></option>
      <% end %>
    </select><br/>
    <input type="hidden" name="c_publish_id[]" value="<%= ask.id %>" />
  <% end %>
  <input type="submit" value="提交">
</form>