<div style="text-align:right;padding:5px;">
  <%=render :partial => "common/openx_tag", :object => 499 %>

  <%=render :partial => "common/openx_tag", :object => 500 %>

  <%=render :partial => "common/openx_tag", :object => 501 %>
</div>