<table width="80%" border="0" cellpadding="0" cellspacing="0" class="zhtable" >
  <tr valign="top">
    <td width="110" class="f14" nowrap><B class=ttc>参考资料：</B></td>
    <td class=tdof id=td2>
    <DIV style="POSITION: relative">
    <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
      <TBODY>
        <TR>
        <TD colSpan=2><TEXTAREA id=co2 name=co2 rows=6 cols=66></TEXTAREA><BR></TD></TR>
        <TD vAlign=top align=middle></TD>
    </TBODY></TABLE>
  </TR>
</table>