<form name="date" method="post" action="/editor/search" onSubmit="return checksearchform(this);">
  从<input name="date1" type="text" id="date1" onclick="new Calendar().show(this);" size="10" maxlength="10" value="<%= session[:date1] %>" >
  到<input name="date2" type="text" id="date2" onclick="new Calendar().show(this);" size="10" maxlength="10" value="<%= session[:date2] %>" />
  <input type="hidden" name="tp" value="wd">
  <input type="submit" value ="查询" class ="button02" onfocus ="So_S()" />
</form> 