<h5>添加发帖/回复人到黑名单</h5>
<form name="date" method="post" action="/editor/showwenzhang" onSubmit="return checkform_select(this); ">
  帖子ID: <input name="wd" type="text" id="wd" size="10" maxlength="20">
  <input type="hidden" name="tp" value="wd">
  <input type="submit" value ="查看文章" class ="button02" />
</form>