<table width="80%" border="0" cellpadding="0" cellspacing="0" class="zhtable" >
  <tr valign="top">
    <td width="110" class="f14" nowrap><B class=ttc>公司简介（*）：</B></td>
    <td class=tdof id=td2>
    <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
      <TBODY>
        <TR>
        <TD colSpan=2><TEXTAREA id="co_description" name="co_description" rows=30 cols=80></TEXTAREA><BR></TD></TR>
      </TBODY>
    </TABLE>
  </TR>
</table>