<div class="rightbox04">
  <h3>问吧<span><a href="/visitor/s?wd=装饰" target="_blank">我要提问>></a></span></h3>
  <ul>
    <% for topic in @topics %>
        <li>·<a href="<%=BASEURL%>visitor/question/<%= topic.id %>" target="_blank"><%= get_short_str topic.subject, 17 %></a></li>
      <% end %>
  </ul>
</div>