<%- for topic in @topics -%>
  <div class="Jang3">
    <span class="Jang4"><a href="<%=BASEURL%>visitor/browse/<%= topic.tag_id %>.html" target="_blank" class="Cu">
      [&nbsp;<%= get_tag_name_by_tag_id(topic.tag_id) %>&nbsp;]</a>&nbsp;
    <a href="<%=BASEURL%>visitor/question/<%= topic.id %>.html" target="_blank"><%= topic.subject %></a></span>
    <span class="Jang5">3阅读</span>				
  </div>
<%- end -%>