<div class="blueBox">
      <div class="title">
      <h1>最新问题</h1>
      </div>
      <div class="body event">

      <!-- 注释部分2 -->

      <ul class="point">
          <%for r in get_new_topics(10)%>
          <li><a href="/q/<%=r.id%>.html" target="_blank"><%=utf8_left(r.subject,14,"...")%></a></li>
          <%end%>
      </ul>
      </div>
</div>