<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>室内装修设计,家庭室内装潢,家居装饰图片,家装效果图库-和家网</title>
<meta name="keywords" content="家庭装修,室内装潢,房子装潢,房屋装修,室内装修设计图片,家居装修图片,家装效果图,室内装修效果图片,室内装饰效果图片,装修论坛">
<meta name="description" CONTENT="中国最大最专业的装修家居信息服务网站，已经覆盖上海,北京,广州,深圳，主要包括家庭装修,室内装潢,房子装潢,房屋装修,室内装修设计图片">
<link href="http://d.51hejia.com/css/zhuangxiu1107/gsdet.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/ask080723.js" type="text/javascript"></script>
</head>

<body>
  <%= yield %>
</body>
</html>
