<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>网站编辑</title>
    <script src="/javascripts/ask080723.js" type="text/javascript"></script>
    <script src="/javascripts/tags.js" type="text/javascript"></script>
    <script src="/javascripts/so080411.js" type="text/javascript"></script>
    <script type="text/javascript" src="/javascripts/WebCalendar.js"></script>
    <link href="http://d.51hejia.com/css/header0805.css" rel="stylesheet" type="text/css" />
    <link href="http://d.51hejia.com/css/wenba/zhishi_style_new.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>