<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title>
        问吧专家_<%=@expert.USERNAME rescue ""%>_问题列表_家居知识_装修知识_建材知识_和家问吧
      </title>
      <link href="http://www.51hejia.com/css/wenba0505/hejiaask.css" rel="stylesheet" type="text/css" />
      <link href="http://d.51hejia.com/css/shouye/header914.css" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="http://www.51hejia.com/js/wb/public.js"></script>
  </head>
  <body>

    <%=  render :partial => "/share/head_start"%>

    <%=  render :partial => "/share/head_end"%>

    <%=  render :partial => "/common/top_search"%>

    <iframe name="hideiframe" width="0" height="0" style='display: none;'></iframe>

    <%=yield%>

    <%=  render :partial => "/share/foot"%>
    <script type="text/javascript">
      //<![CDATA[
      ac_as_id = 41705;
      ac_click_track_url = "";ac_format = 0;ac_mode = 1;
      ac_width = 280;ac_height = 210;
      //]]>
    </script>
    <script type="text/javascript" src="http://static.acs86.com/g.js"></script>
  </body>
</html>