<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>评论</title>
    <%= render :partial => "share/javascript_defaults" %>
    <link href="http://js.51hejia.com/css/article/article02.css?112233" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="comment">
      <%= yield %>
    </div>
  </body>
</html>